.a4-sheet {
    width: 210mm;
    height: 279mm;
    background-color: white;
    box-sizing: border-box;
    position: relative;
  }
.document{
    font-family: 'Times New Roman', Times, serif;
}

.card-child {
    position: absolute;
    display: inline-block;
}

.card-1 {
    top: 50px;
    left: 70px;
    text-align: center;
    font-weight: bold;
}

.card-2 {
    top: 50px;
    right: 70px;
    text-align: center;
    font-weight: bold;
}

.card-3 {
    top: 150px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    z-index: 60;
}
.card-4 {
    top: 180px;
    left: 0;
    width: 100%;
    padding-left: 40px;
}

.span-card1 {
    margin-left: 100px;
    margin-right: 100px;
}

.custom-table {
    width: 90%;
    border-collapse: collapse;
}

.custom-table th {
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.custom-table td {
    border: 1px solid black;
}