.document {
    background-color: white;
    width: 800px;
    min-height: 1123px;
    font-family: 'Times New Roman', Times, serif;
}

.statistic-table {
    width: 100%;
    border-collapse: collapse;
}

.statistic-table th {
    border: 1px solid black;
    font-weight: bold;
    text-align: center;
}

.statistic-table td {
    border: 1px solid black;
}